--more-color: #9000ff;
--default-text-color: #f20587;
--border: #f20587;
--darker-gray: #0000ff;
--almost-black: #9000ff;
--lil-darker-gray: #a3ff00;
--light-gray: #d15cff;
--choice-bg: #000000;
--list-actions-bg: #000000;
--menu-bg: #000000;
--active-message: #000000;
--input-background: #000000;
--new-tweet-over: #000000;